
<div class="container">
  <h1>Hi, welcome back to your Timeline</h1>
  
  
<a href="/posts/show">Click here to see all your status</a><br><br>
<a href="/posts/new" >Add your status</a><br><br>
<a href="/logout" >Log Out</a>


  
</div>