<a href="/">
<p>HOME</p>
</a>

Please Sign Up here
<br><br>
If you are an new user,create an account<br>
<form action="/users/" method="post">

    Email: <input type="text" name="user[email]">
    <br><br>
    Password: <input type="text" name="user[password]"> 
    <br><br>
    Firstname: <input type="text" name="user[firstname]">
    <br><br>
    Lastname: <input type="text" name="user[lastname]"> 
    <br><br>
    Age: <input type="text" name="user[age]"> 
    <br><br>
    Gender: <input type="text" name="user[gender]">
    <br><br>
    <input type="submit" value="Signup!">
  </form>
</div>